DJANGO_SECRET_KEY=django-insecure-CHANGE-ME-IN-PRODUCTION-<long-random-string>
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

SAP_HANA_HOST=<sap-hana-host>
SAP_HANA_PORT=30015
SAP_HANA_USER=<sap-username>
SAP_HANA_PASSWORD=<sap-password>

GROQ_API_KEY=<groq-api-key>
